In [1]:
from exchange.board import *

history = load_file('../DATA/MERGE.log.gz')

In [2]:
df = history.dollar_bar()

                     time_stamp       open      close       high        low
time
0    2020-05-05 00:00:06.570557  9644590.0  9644950.0  9645950.0  9642300.0
1    2020-05-05 00:00:07.010153  9645000.0  9645990.0  9646370.0  9644870.0
2    2020-05-05 00:00:07.260147  9646240.0  9645000.0  9647860.0  9645000.0
3    2020-05-05 00:00:07.937494  9645000.0  9649050.0  9649050.0  9643610.0
4    2020-05-05 00:00:09.162721  9646990.0  9649980.0  9649980.0  9646570.0
...                         ...        ...        ...        ...        ...
7437 2020-05-05 05:25:09.329855  9856390.0  9856760.0  9858240.0  9855330.0
7438 2020-05-05 05:25:10.268643  9856760.0  9855330.0  9857810.0  9855330.0
7439 2020-05-05 05:25:10.691612  9855330.0  9857480.0  9857480.0  9855330.0
7440 2020-05-05 05:25:12.455211  9857500.0  9857340.0  9858000.0  9855510.0
7441 2020-05-05 05:25:16.989434  9857360.0  9857520.0  9857520.0  9855330.0

[7442 rows x 5 columns]

In [3]:
df

                     time_stamp       open      close       high        low
time
0    2020-05-05 00:00:06.570557  9644590.0  9644950.0  9645950.0  9642300.0
1    2020-05-05 00:00:07.010153  9645000.0  9645990.0  9646370.0  9644870.0
2    2020-05-05 00:00:07.260147  9646240.0  9645000.0  9647860.0  9645000.0
3    2020-05-05 00:00:07.937494  9645000.0  9649050.0  9649050.0  9643610.0
4    2020-05-05 00:00:09.162721  9646990.0  9649980.0  9649980.0  9646570.0
...                         ...        ...        ...        ...        ...
7437 2020-05-05 05:25:09.329855  9856390.0  9856760.0  9858240.0  9855330.0
7438 2020-05-05 05:25:10.268643  9856760.0  9855330.0  9857810.0  9855330.0
7439 2020-05-05 05:25:10.691612  9855330.0  9857480.0  9857480.0  9855330.0
7440 2020-05-05 05:25:12.455211  9857500.0  9857340.0  9858000.0  9855510.0
7441 2020-05-05 05:25:16.989434  9857360.0  9857520.0  9857520.0  9855330.0

[7442 rows x 5 columns]

In [4]:
df.columns = ['time', 'open', 'close', 'high', 'low']

In [5]:
df

                           time       open      close       high        low
0    2020-05-05 00:00:06.570557  9644590.0  9644950.0  9645950.0  9642300.0
1    2020-05-05 00:00:07.010153  9645000.0  9645990.0  9646370.0  9644870.0
2    2020-05-05 00:00:07.260147  9646240.0  9645000.0  9647860.0  9645000.0
3    2020-05-05 00:00:07.937494  9645000.0  9649050.0  9649050.0  9643610.0
4    2020-05-05 00:00:09.162721  9646990.0  9649980.0  9649980.0  9646570.0
...                         ...        ...        ...        ...        ...
7437 2020-05-05 05:25:09.329855  9856390.0  9856760.0  9858240.0  9855330.0
7438 2020-05-05 05:25:10.268643  9856760.0  9855330.0  9857810.0  9855330.0
7439 2020-05-05 05:25:10.691612  9855330.0  9857480.0  9857480.0  9855330.0
7440 2020-05-05 05:25:12.455211  9857500.0  9857340.0  9858000.0  9855510.0
7441 2020-05-05 05:25:16.989434  9857360.0  9857520.0  9857520.0  9855330.0

[7442 rows x 5 columns]

In [6]:
df = df[['open', 'high', 'low', 'close']]
df.index.name = 'time'
df

           open       high        low      close
time
0     9644590.0  9645950.0  9642300.0  9644950.0
1     9645000.0  9646370.0  9644870.0  9645990.0
2     9646240.0  9647860.0  9645000.0  9645000.0
3     9645000.0  9649050.0  9643610.0  9649050.0
4     9646990.0  9649980.0  9646570.0  9649980.0
...         ...        ...        ...        ...
7437  9856390.0  9858240.0  9855330.0  9856760.0
7438  9856760.0  9857810.0  9855330.0  9855330.0
7439  9855330.0  9857480.0  9855330.0  9857480.0
7440  9857500.0  9858000.0  9855510.0  9857340.0
7441  9857360.0  9857520.0  9855330.0  9857520.0

[7442 rows x 4 columns]