In [1]:
from chart_creator import ChartCreator as cc
from exchange.board import *

In [2]:
history = load_file('../DATA/MERGE.log.gz')
history

In [3]:
tick_vol = 50

df = history._filter_execute(history.log_data).copy()
df

,action,time,sequence,price,volume,checksum
601,6,2020-05-05 00:00:02.514339,1719606531,9641490,0.12,NaN
602,6,2020-05-05 00:00:02.536735,1719606532,9641490,0.01,NaN
709,4,2020-05-05 00:00:02.836836,1719606533,9641860,0.02,NaN
710,4,2020-05-05 00:00:02.836836,1719606534,9641860,0.03,NaN
711,6,2020-05-05 00:00:02.961833,1719606535,9641490,0.01,NaN
...,...,...,...,...,...,...
6950506,6,2020-05-05 05:25:20.376481,1720144492,9857690,0.02,NaN
6950544,6,2020-05-05 05:25:20.485851,1720144493,9857690,0.03,NaN
6950545,6,2020-05-05 05:25:20.485851,1720144494,9857470,0.03,NaN
6950546,6,2020-05-05 05:25:20.485851,1720144495,9857190,0.01,NaN
6950614,4,2020-05-05 05:25:20.879438,1720144497,9857000,0.43,NaN

In [4]:
max_vol = df[VOLUME].sum()
start = int(max_vol + tick_vol) - max_vol

ticks = np.arange(start, max_vol, tick_vol)
ticks

array([   49.47546861,    99.47546861,   149.47546861,   199.47546861,
         249.47546861,   299.47546861,   349.47546861,   399.47546861,
         449.47546861,   499.47546861,   549.47546861,   599.47546861,
         649.47546861,   699.47546861,   749.47546861,   799.47546861,
         849.47546861,   899.47546861,   949.47546861,   999.47546861,
        1049.47546861,  1099.47546861,  1149.47546861,  1199.47546861,
        1249.47546861,  1299.47546861,  1349.47546861,  1399.47546861,
        1449.47546861,  1499.47546861,  1549.47546861,  1599.47546861,
        1649.47546861,  1699.47546861,  1749.47546861,  1799.47546861,
        1849.47546861,  1899.47546861,  1949.47546861,  1999.47546861,
        2049.47546861,  2099.47546861,  2149.47546861,  2199.47546861,
        2249.47546861,  2299.47546861,  2349.47546861,  2399.47546861,
        2449.47546861,  2499.47546861,  2549.47546861,  2599.47546861,
        2649.47546861,  2699.47546861,  2749.47546861,  2799.47546861,
        2849.47546861,  2899.47546861,  2949.47546861,  2999.47546861,
        3049.47546861,  3099.47546861,  3149.47546861,  3199.47546861,
        3249.47546861,  3299.47546861,  3349.47546861,  3399.47546861,
        3449.47546861,  3499.47546861,  3549.47546861,  3599.47546861,
        3649.47546861,  3699.47546861,  3749.47546861,  3799.47546861,
        3849.47546861,  3899.47546861,  3949.47546861,  3999.47546861,
        4049.47546861,  4099.47546861,  4149.47546861,  4199.47546861,
        4249.47546861,  4299.47546861,  4349.47546861,  4399.47546861,
        4449.47546861,  4499.47546861,  4549.47546861,  4599.47546861,
        4649.47546861,  4699.47546861,  4749.47546861,  4799.47546861,
        4849.47546861,  4899.47546861,  4949.47546861,  4999.47546861,
        5049.47546861,  5099.47546861,  5149.47546861,  5199.47546861,
        5249.47546861,  5299.47546861,  5349.47546861,  5399.47546861,
        5449.47546861,  5499.47546861,  5549.47546861,  5599.47546861,
        5649.47546861,  5699.47546861,  5749.47546861,  5799.47546861,
        5849.47546861,  5899.47546861,  5949.47546861,  5999.47546861,
        6049.47546861,  6099.47546861,  6149.47546861,  6199.47546861,
        6249.47546861,  6299.47546861,  6349.47546861,  6399.47546861,
        6449.47546861,  6499.47546861,  6549.47546861,  6599.47546861,
        6649.47546861,  6699.47546861,  6749.47546861,  6799.47546861,
        6849.47546861,  6899.47546861,  6949.47546861,  6999.47546861,
        7049.47546861,  7099.47546861,  7149.47546861,  7199.47546861,
        7249.47546861,  7299.47546861,  7349.47546861,  7399.47546861,
        7449.47546861,  7499.47546861,  7549.47546861,  7599.47546861,
        7649.47546861,  7699.47546861,  7749.47546861,  7799.47546861,
        7849.47546861,  7899.47546861,  7949.47546861,  7999.47546861,
        8049.47546861,  8099.47546861,  8149.47546861,  8199.47546861,
        8249.47546861,  8299.47546861,  8349.47546861,  8399.47546861,
        8449.47546861,  8499.47546861,  8549.47546861,  8599.47546861,
        8649.47546861,  8699.47546861,  8749.47546861,  8799.47546861,
        8849.47546861,  8899.47546861,  8949.47546861,  8999.47546861,
        9049.47546861,  9099.47546861,  9149.47546861,  9199.47546861,
        9249.47546861,  9299.47546861,  9349.47546861,  9399.47546861,
        9449.47546861,  9499.47546861,  9549.47546861,  9599.47546861,
        9649.47546861,  9699.47546861,  9749.47546861,  9799.47546861,
        9849.47546861,  9899.47546861,  9949.47546861,  9999.47546861,
       10049.47546861, 10099.47546861, 10149.47546861, 10199.47546861,
       10249.47546861, 10299.47546861, 10349.47546861, 10399.47546861,
       10449.47546861, 10499.47546861, 10549.47546861, 10599.47546861,
       10649.47546861, 10699.47546861, 10749.47546861, 10799.47546861,
       10849.47546861, 10899.47546861, 10949.47546861, 10999.47546861,
       11049.47546861, 11099.47546861, 11149.47546861, 11199.47546861,
       11249.47546861, 11299.47546861, 11349.47546861, 11399.47546861,
       11449.47546861, 11499.47546861, 11549.47546861, 11599.47546861,
       11649.47546861, 11699.47546861, 11749.47546861, 11799.47546861,
       11849.47546861, 11899.47546861, 11949.47546861, 11999.47546861,
       12049.47546861, 12099.47546861, 12149.47546861, 12199.47546861,
       12249.47546861, 12299.47546861, 12349.47546861, 12399.47546861,
       12449.47546861, 12499.47546861, 12549.47546861, 12599.47546861,
       12649.47546861, 12699.47546861, 12749.47546861, 12799.47546861,
       12849.47546861, 12899.47546861, 12949.47546861, 12999.47546861,
       13049.47546861, 13099.47546861, 13149.47546861, 13199.47546861,
       13249.47546861, 13299.47546861, 13349.47546861, 13399.47546861,
       13449.47546861, 13499.47546861, 13549.47546861, 13599.47546861,
       13649.47546861, 13699.47546861, 13749.47546861, 13799.47546861,
       13849.47546861, 13899.47546861, 13949.47546861, 13999.47546861,
       14049.47546861, 14099.47546861, 14149.47546861, 14199.47546861,
       14249.47546861, 14299.47546861, 14349.47546861, 14399.47546861,
       14449.47546861, 14499.47546861, 14549.47546861, 14599.47546861,
       14649.47546861, 14699.47546861, 14749.47546861, 14799.47546861,
       14849.47546861, 14899.47546861, 14949.47546861, 14999.47546861,
       15049.47546861, 15099.47546861, 15149.47546861, 15199.47546861,
       15249.47546861, 15299.47546861, 15349.47546861, 15399.47546861,
       15449.47546861, 15499.47546861, 15549.47546861, 15599.47546861,
       15649.47546861, 15699.47546861, 15749.47546861, 15799.47546861,
       15849.47546861, 15899.47546861, 15949.47546861, 15999.47546861,
       16049.47546861, 16099.47546861, 16149.47546861, 16199.47546861,
       16249.47546861, 16299.47546861, 16349.47546861, 16399.47546861,
       16449.47546861, 16499.47546861, 16549.47546861, 16599.47546861,
       16649.47546861, 16699.47546861, 16749.47546861, 16799.47546861,
       16849.47546861, 16899.47546861, 16949.47546861, 16999.47546861,
       17049.47546861, 17099.47546861, 17149.47546861, 17199.47546861,
       17249.47546861, 17299.47546861, 17349.47546861, 17399.47546861,
       17449.47546861, 17499.47546861, 17549.47546861, 17599.47546861,
       17649.47546861, 17699.47546861, 17749.47546861, 17799.47546861,
       17849.47546861, 17899.47546861, 17949.47546861, 17999.47546861,
       18049.47546861, 18099.47546861, 18149.47546861, 18199.47546861,
       18249.47546861, 18299.47546861, 18349.47546861, 18399.47546861,
       18449.47546861, 18499.47546861, 18549.47546861, 18599.47546861,
       18649.47546861, 18699.47546861, 18749.47546861, 18799.47546861,
       18849.47546861, 18899.47546861, 18949.47546861, 18999.47546861,
       19049.47546861, 19099.47546861, 19149.47546861, 19199.47546861,
       19249.47546861, 19299.47546861, 19349.47546861, 19399.47546861,
       19449.47546861, 19499.47546861, 19549.47546861, 19599.47546861,
       19649.47546861, 19699.47546861, 19749.47546861, 19799.47546861,
       19849.47546861, 19899.47546861, 19949.47546861, 19999.47546861,
       20049.47546861, 20099.47546861, 20149.47546861, 20199.47546861,
       20249.47546861, 20299.47546861, 20349.47546861, 20399.47546861,
       20449.47546861, 20499.47546861, 20549.47546861, 20599.47546861,
       20649.47546861, 20699.47546861, 20749.47546861, 20799.47546861,
       20849.47546861, 20899.47546861, 20949.47546861, 20999.47546861,
       21049.47546861, 21099.47546861, 21149.47546861, 21199.47546861,
       21249.47546861, 21299.47546861, 21349.47546861, 21399.47546861,
       21449.47546861, 21499.47546861, 21549.47546861, 21599.47546861,
       21649.47546861, 21699.47546861, 21749.47546861, 21799.47546861,
       21849.47546861, 21899.47546861, 21949.47546861, 21999.47546861,
       22049.47546861, 22099.47546861, 22149.47546861, 22199.47546861,
       22249.47546861, 22299.47546861, 22349.47546861, 22399.47546861,
       22449.47546861, 22499.47546861, 22549.47546861, 22599.47546861,
       22649.47546861, 22699.47546861, 22749.47546861, 22799.47546861,
       22849.47546861, 22899.47546861, 22949.47546861, 22999.47546861,
       23049.47546861, 23099.47546861, 23149.47546861, 23199.47546861,
       23249.47546861, 23299.47546861, 23349.47546861, 23399.47546861,
       23449.47546861, 23499.47546861, 23549.47546861, 23599.47546861,
       23649.47546861, 23699.47546861, 23749.47546861, 23799.47546861,
       23849.47546861, 23899.47546861, 23949.47546861, 23999.47546861,
       24049.47546861, 24099.47546861, 24149.47546861, 24199.47546861,
       24249.47546861, 24299.47546861, 24349.47546861, 24399.47546861,
       24449.47546861, 24499.47546861, 24549.47546861, 24599.47546861,
       24649.47546861, 24699.47546861, 24749.47546861, 24799.47546861,
       24849.47546861, 24899.47546861, 24949.47546861, 24999.47546861,
       25049.47546861, 25099.47546861, 25149.47546861, 25199.47546861,
       25249.47546861, 25299.47546861, 25349.47546861, 25399.47546861,
       25449.47546861, 25499.47546861, 25549.47546861, 25599.47546861,
       25649.47546861, 25699.47546861, 25749.47546861, 25799.47546861,
       25849.47546861, 25899.47546861, 25949.47546861, 25999.47546861,
       26049.47546861, 26099.47546861, 26149.47546861, 26199.47546861,
       26249.47546861, 26299.47546861, 26349.47546861, 26399.47546861,
       26449.47546861, 26499.47546861, 26549.47546861, 26599.47546861,
       26649.47546861, 26699.47546861, 26749.47546861, 26799.47546861,
       26849.47546861, 26899.47546861, 26949.47546861, 26999.47546861,
       27049.47546861, 27099.47546861, 27149.47546861, 27199.47546861,
       27249.47546861, 27299.47546861, 27349.47546861, 27399.47546861,
       27449.47546861, 27499.47546861, 27549.47546861, 27599.47546861,
       27649.47546861, 27699.47546861, 27749.47546861, 27799.47546861,
       27849.47546861, 27899.47546861, 27949.47546861, 27999.47546861,
       28049.47546861, 28099.47546861, 28149.47546861, 28199.47546861,
       28249.47546861, 28299.47546861, 28349.47546861, 28399.47546861,
       28449.47546861, 28499.47546861, 28549.47546861, 28599.47546861,
       28649.47546861, 28699.47546861, 28749.47546861, 28799.47546861,
       28849.47546861, 28899.47546861, 28949.47546861, 28999.47546861,
       29049.47546861, 29099.47546861, 29149.47546861, 29199.47546861,
       29249.47546861, 29299.47546861, 29349.47546861, 29399.47546861,
       29449.47546861, 29499.47546861, 29549.47546861, 29599.47546861,
       29649.47546861, 29699.47546861, 29749.47546861, 29799.47546861,
       29849.47546861, 29899.47546861, 29949.47546861, 29999.47546861,
       30049.47546861, 30099.47546861, 30149.47546861, 30199.47546861,
       30249.47546861, 30299.47546861, 30349.47546861, 30399.47546861,
       30449.47546861, 30499.47546861, 30549.47546861, 30599.47546861,
       30649.47546861, 30699.47546861, 30749.47546861, 30799.47546861,
       30849.47546861, 30899.47546861, 30949.47546861, 30999.47546861,
       31049.47546861, 31099.47546861, 31149.47546861, 31199.47546861,
       31249.47546861, 31299.47546861, 31349.47546861, 31399.47546861,
       31449.47546861, 31499.47546861, 31549.47546861, 31599.47546861,
       31649.47546861, 31699.47546861, 31749.47546861, 31799.47546861,
       31849.47546861, 31899.47546861, 31949.47546861, 31999.47546861,
       32049.47546861, 32099.47546861, 32149.47546861, 32199.47546861,
       32249.47546861, 32299.47546861, 32349.47546861, 32399.47546861,
       32449.47546861, 32499.47546861, 32549.47546861, 32599.47546861,
       32649.47546861, 32699.47546861, 32749.47546861, 32799.47546861,
       32849.47546861, 32899.47546861, 32949.47546861, 32999.47546861,
       33049.47546861, 33099.47546861, 33149.47546861, 33199.47546861,
       33249.47546861, 33299.47546861, 33349.47546861, 33399.47546861,
       33449.47546861, 33499.47546861, 33549.47546861, 33599.47546861,
       33649.47546861, 33699.47546861, 33749.47546861, 33799.47546861,
       33849.47546861, 33899.47546861, 33949.47546861, 33999.47546861,
       34049.47546861, 34099.47546861, 34149.47546861, 34199.47546861,
       34249.47546861, 34299.47546861, 34349.47546861, 34399.47546861,
       34449.47546861, 34499.47546861, 34549.47546861, 34599.47546861,
       34649.47546861, 34699.47546861, 34749.47546861, 34799.47546861,
       34849.47546861, 34899.47546861, 34949.47546861, 34999.47546861,
       35049.47546861, 35099.47546861, 35149.47546861, 35199.47546861,
       35249.47546861, 35299.47546861, 35349.47546861, 35399.47546861,
       35449.47546861, 35499.47546861, 35549.47546861, 35599.47546861,
       35649.47546861, 35699.47546861, 35749.47546861, 35799.47546861,
       35849.47546861, 35899.47546861, 35949.47546861, 35999.47546861,
       36049.47546861, 36099.47546861, 36149.47546861, 36199.47546861,
       36249.47546861, 36299.47546861, 36349.47546861, 36399.47546861,
       36449.47546861, 36499.47546861, 36549.47546861, 36599.47546861,
       36649.47546861, 36699.47546861, 36749.47546861, 36799.47546861,
       36849.47546861, 36899.47546861, 36949.47546861, 36999.47546861,
       37049.47546861, 37099.47546861, 37149.47546861, 37199.47546861])

In [5]:
df['sum'] = df[VOLUME].cumsum()
bins = pd.cut(df['sum'], ticks)

bins

601        NaN
602        NaN
709        NaN
710        NaN
711        NaN
          ...
6950506    NaN
6950544    NaN
6950545    NaN
6950546    NaN
6950614    NaN
Name: sum, Length: 525058, dtype: category
Categories (743, interval[float64]): [(49.475, 99.475] < (99.475, 149.475] < (149.475, 199.475] < (199.475, 249.475] ... (36999.475, 37049.475] < (37049.475, 37099.475] < (37099.475, 37149.475] < (37149.475, 37199.475]]

In [6]:
df = df.groupby(bins).agg({'time': 'last', 'price': ['first', 'last', 'max', 'min'], 'volume': 'sum'}, axis=1)
df

                                             time    price                    \
                                             last    first     last      max
sum
(49.475, 99.475]       2020-05-05 00:00:26.071374  9652580  9650970  9654850
(99.475, 149.475]      2020-05-05 00:00:37.824813  9651320  9655320  9657200
(149.475, 199.475]     2020-05-05 00:00:59.800413  9655320  9663820  9663820
(199.475, 249.475]     2020-05-05 00:01:17.244252  9663830  9661130  9663940
(249.475, 299.475]     2020-05-05 00:01:33.239526  9659560  9669500  9672000
...                                           ...      ...      ...      ...
(36949.475, 36999.475] 2020-05-05 05:22:56.190107  9846500  9845850  9848250
(36999.475, 37049.475] 2020-05-05 05:23:37.651684  9845780  9850500  9851200
(37049.475, 37099.475] 2020-05-05 05:24:06.870029  9850500  9850270  9851840
(37099.475, 37149.475] 2020-05-05 05:24:36.628011  9850270  9852980  9854560
(37149.475, 37199.475] 2020-05-05 05:25:10.268643  9852980  9855330  9858240

                                    volume
                            min        sum
sum
(49.475, 99.475]        9648610  49.984566
(99.475, 149.475]       9648600  49.743541
(149.475, 199.475]      9655260  50.201884
(199.475, 249.475]      9655660  50.098946
(249.475, 299.475]      9659560  49.890856
...                         ...        ...
(36949.475, 36999.475]  9842350  50.440551
(36999.475, 37049.475]  9844260  49.455626
(37049.475, 37099.475]  9846920  50.406312
(37099.475, 37149.475]  9848790  50.066894
(37149.475, 37199.475]  9851380  49.979546

[743 rows x 6 columns]

In [7]:
df.columns = ['time_stamp', 'open', 'close', 'high', 'low', 'volume']
df

,time_stamp,open,close,high,low,volume
sum,,,,,,
"(49.475, 99.475]",2020-05-05 00:00:26.071374,9652580,9650970,9654850,9648610,49.984566
"(99.475, 149.475]",2020-05-05 00:00:37.824813,9651320,9655320,9657200,9648600,49.743541
"(149.475, 199.475]",2020-05-05 00:00:59.800413,9655320,9663820,9663820,9655260,50.201884
"(199.475, 249.475]",2020-05-05 00:01:17.244252,9663830,9661130,9663940,9655660,50.098946
"(249.475, 299.475]",2020-05-05 00:01:33.239526,9659560,9669500,9672000,9659560,49.890856
...,...,...,...,...,...,...
"(36949.475, 36999.475]",2020-05-05 05:22:56.190107,9846500,9845850,9848250,9842350,50.440551
"(36999.475, 37049.475]",2020-05-05 05:23:37.651684,9845780,9850500,9851200,9844260,49.455626
"(37049.475, 37099.475]",2020-05-05 05:24:06.870029,9850500,9850270,9851840,9846920,50.406312
"(37099.475, 37149.475]",2020-05-05 05:24:36.628011,9850270,9852980,9854560,9848790,50.066894
"(37149.475, 37199.475]",2020-05-05 05:25:10.268643,9852980,9855330,9858240,9851380,49.979546

In [8]:
df.reset_index(drop=True, inplace=True)
df

                    time_stamp     open    close     high      low     volume
0   2020-05-05 00:00:26.071374  9652580  9650970  9654850  9648610  49.984566
1   2020-05-05 00:00:37.824813  9651320  9655320  9657200  9648600  49.743541
2   2020-05-05 00:00:59.800413  9655320  9663820  9663820  9655260  50.201884
3   2020-05-05 00:01:17.244252  9663830  9661130  9663940  9655660  50.098946
4   2020-05-05 00:01:33.239526  9659560  9669500  9672000  9659560  49.890856
..                         ...      ...      ...      ...      ...        ...
738 2020-05-05 05:22:56.190107  9846500  9845850  9848250  9842350  50.440551
739 2020-05-05 05:23:37.651684  9845780  9850500  9851200  9844260  49.455626
740 2020-05-05 05:24:06.870029  9850500  9850270  9851840  9846920  50.406312
741 2020-05-05 05:24:36.628011  9850270  9852980  9854560  9848790  50.066894
742 2020-05-05 05:25:10.268643  9852980  9855330  9858240  9851380  49.979546

[743 rows x 6 columns]

In [9]:
df.index.name = 'time'
df = df[['time_stamp', 'open', 'close', 'high', 'low', 'volume']]
df

                     time_stamp     open    close     high      low     volume
time
0    2020-05-05 00:00:26.071374  9652580  9650970  9654850  9648610  49.984566
1    2020-05-05 00:00:37.824813  9651320  9655320  9657200  9648600  49.743541
2    2020-05-05 00:00:59.800413  9655320  9663820  9663820  9655260  50.201884
3    2020-05-05 00:01:17.244252  9663830  9661130  9663940  9655660  50.098946
4    2020-05-05 00:01:33.239526  9659560  9669500  9672000  9659560  49.890856
...                         ...      ...      ...      ...      ...        ...
738  2020-05-05 05:22:56.190107  9846500  9845850  9848250  9842350  50.440551
739  2020-05-05 05:23:37.651684  9845780  9850500  9851200  9844260  49.455626
740  2020-05-05 05:24:06.870029  9850500  9850270  9851840  9846920  50.406312
741  2020-05-05 05:24:36.628011  9850270  9852980  9854560  9848790  50.066894
742  2020-05-05 05:25:10.268643  9852980  9855330  9858240  9851380  49.979546

[743 rows x 6 columns]

In [10]:
cc.initialize()
cc.set_xaxis(start=0, end=0, is_unixtime=True)
cc.add_subchart(ax=0, label="USD", grid=True)

In [11]:
df

                     time_stamp     open    close     high      low     volume
time
0    2020-05-05 00:00:26.071374  9652580  9650970  9654850  9648610  49.984566
1    2020-05-05 00:00:37.824813  9651320  9655320  9657200  9648600  49.743541
2    2020-05-05 00:00:59.800413  9655320  9663820  9663820  9655260  50.201884
3    2020-05-05 00:01:17.244252  9663830  9661130  9663940  9655660  50.098946
4    2020-05-05 00:01:33.239526  9659560  9669500  9672000  9659560  49.890856
...                         ...      ...      ...      ...      ...        ...
738  2020-05-05 05:22:56.190107  9846500  9845850  9848250  9842350  50.440551
739  2020-05-05 05:23:37.651684  9845780  9850500  9851200  9844260  49.455626
740  2020-05-05 05:24:06.870029  9850500  9850270  9851840  9846920  50.406312
741  2020-05-05 05:24:36.628011  9850270  9852980  9854560  9848790  50.066894
742  2020-05-05 05:25:10.268643  9852980  9855330  9858240  9851380  49.979546

[743 rows x 6 columns]

In [17]:
#df.index.name='unixtime'
df.columns = ['unixtime', 'open', 'close', 'high', 'low', 'volume']

df

,unixtime,open,close,high,low,volume
unixtime,,,,,,
0,2020-05-05 00:00:26.071374,9652580,9650970,9654850,9648610,49.984566
1,2020-05-05 00:00:37.824813,9651320,9655320,9657200,9648600,49.743541
2,2020-05-05 00:00:59.800413,9655320,9663820,9663820,9655260,50.201884
3,2020-05-05 00:01:17.244252,9663830,9661130,9663940,9655660,50.098946
4,2020-05-05 00:01:33.239526,9659560,9669500,9672000,9659560,49.890856
...,...,...,...,...,...,...
738,2020-05-05 05:22:56.190107,9846500,9845850,9848250,9842350,50.440551
739,2020-05-05 05:23:37.651684,9845780,9850500,9851200,9844260,49.455626
740,2020-05-05 05:24:06.870029,9850500,9850270,9851840,9846920,50.406312
741,2020-05-05 05:24:36.628011,9850270,9852980,9854560,9848790,50.066894
742,2020-05-05 05:25:10.268643,9852980,9855330,9858240,9851380,49.979546

In [20]:
import mplfinance as mpf

In [21]:
mpf.plot(df)

TypeError: Expect data.index as DatetimeIndex

In [ ]:
cc.set_ohlcv_df(df)

In [16]:
cc.create_chart('./test.png', 'png')

[create_chart] plot data does not exist.