In [1]:
import pandas as pd
import statsmodels.formula.api as smf
from exchange.board import *
from exchange.board import _chop_log_data

history = load_file('../MERGE-2020-05-04.log.gz')
history.setup_dollar_bar()
df = history.dollar_bar

In [2]:
history.update_price()

In [3]:
history.dollar_bar

,time_stamp,open,close,high,low,market_buy,market_sell,limit_buy,limit_sell
time,,,,,,,,,
0,2020-05-04 23:44:51.472187,9610530,9612920,9612920,9610380,9612100.0,9610130.0,9610130.0,9611910.0
1,2020-05-04 23:44:55.301343,9612930,9611000,9613470,9611000,9611970.0,9611180.0,9611330.0,9611970.0
2,2020-05-04 23:44:56.506780,9610990,9610010,9611970,9610010,9611970.0,9610090.0,9610100.0,9611970.0
3,2020-05-04 23:44:58.552715,9610010,9610120,9611070,9610000,9610460.0,9609990.0,9609990.0,9610000.0
4,2020-05-04 23:45:00.628893,9610000,9613640,9613640,9610000,9613530.0,9611420.0,9611650.0,NaN
...,...,...,...,...,...,...,...,...,...
307,2020-05-04 23:59:55.017204,9635440,9638790,9638790,9635320,9635970.0,9635060.0,NaN,9635970.0
308,2020-05-04 23:59:55.963804,9638850,9638960,9639170,9637360,9638960.0,9637360.0,NaN,9638960.0
309,2020-05-04 23:59:57.000452,9638960,9639160,9639600,9638340,9638690.0,9637360.0,NaN,9638690.0
310,2020-05-04 23:59:57.535987,9639090,9642060,9642060,9638710,9642140.0,9640130.0,9640130.0,NaN
311,2020-05-05 00:00:01.766509,9642060,9641870,9642080,9639330,9641870.0,9639950.0,NaN,NaN

In [4]:
df = _chop_log_data(history.dollar_bar, start=history.start_time, end=history.start_time + pd.Timedelta(seconds=60), time_key='time_stamp')

print(df.min()['limit_buy'])
print(df.max()['limit_sell'])

9603620.0
9611970.0

In [7]:
r = history._calc_q_value(history.dollar_bar.iloc[100])

r

(11970.0, 2170.0, 9850.0, -40.0)

In [39]:
def update_price(time):
    market_prices = history.market_price(time)
    limit_prices = history.limit_price(time, window=5)
    return pd.Series([market_prices[0], market_prices[1], \
            limit_prices[0], limit_prices[1]])

In [ ]:
TAKER_FEE = 0.15 / 100
MAKER_FEE = 0.75 / 100

def taker_fee(price):
    return price * TAKER_FEE

def maker_fee(price):
    return price * MAKER_FEE

def update_q_value(row):
    '''
    use this function as df.apply(upadte_q_value, axis=1)
    :param row:
    :return:
    '''
    time_stamp = row['time_stamp']

    market_buy = row['market_buy']
    market_sell = row['market_sell']
    limit_buy = row['limit_buy']
    limit_sell = row['limit_sell']

In [40]:
df[['market_buy', 'market_sell', 'limit_buy', 'limit_sell']] = df['time_stamp'].apply(update_price)
df

,time_stamp,open,close,high,low,bit_price,ask_price,long_price,short_price,market_buy,market_sell,limit_buy,limit_sell
time,,,,,,,,,,,,,
0,2020-05-04 23:44:51.472187,9610530,9612920,9612920,9610380,9612100.0,9610130.0,NaN,9611910.0,9612100.0,9610130.0,NaN,9611910.0
1,2020-05-04 23:44:55.301343,9612930,9611000,9613470,9611000,9611970.0,9611180.0,9611330.0,NaN,9611970.0,9611180.0,9611330.0,NaN
2,2020-05-04 23:44:56.506780,9610990,9610010,9611970,9610010,9611970.0,9610090.0,9610100.0,9611970.0,9611970.0,9610090.0,9610100.0,9611970.0
3,2020-05-04 23:44:58.552715,9610010,9610120,9611070,9610000,9610460.0,9609990.0,NaN,9610000.0,9610460.0,9609990.0,NaN,9610000.0
4,2020-05-04 23:45:00.628893,9610000,9613640,9613640,9610000,9613530.0,9611420.0,9611650.0,NaN,9613530.0,9611420.0,9611650.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2020-05-04 23:59:55.017204,9635440,9638790,9638790,9635320,9635970.0,9635060.0,NaN,9635970.0,9635970.0,9635060.0,NaN,9635970.0
308,2020-05-04 23:59:55.963804,9638850,9638960,9639170,9637360,9638960.0,9637360.0,NaN,9638960.0,9638960.0,9637360.0,NaN,9638960.0
309,2020-05-04 23:59:57.000452,9638960,9639160,9639600,9638340,9638690.0,9637360.0,NaN,9638690.0,9638690.0,9637360.0,NaN,9638690.0
310,2020-05-04 23:59:57.535987,9639090,9642060,9642060,9638710,9642140.0,9640130.0,9640130.0,NaN,9642140.0,9640130.0,9640130.0,NaN
311,2020-05-05 00:00:01.766509,9642060,9641870,9642080,9639330,9641870.0,9639950.0,NaN,NaN,9641870.0,9639950.0,NaN,NaN

In [33]:
a_df = pd.DataFrame(a)

a_df

                                        time_stamp
time
0          (9612100.0, 9610130.0, None, 9611910.0)
1          (9611970.0, 9611180.0, 9611330.0, None)
2     (9611970.0, 9610090.0, 9610100.0, 9611970.0)
3          (9610460.0, 9609990.0, None, 9610000.0)
4          (9613530.0, 9611420.0, 9611650.0, None)
...                                            ...
307        (9635970.0, 9635060.0, None, 9635970.0)
308        (9638960.0, 9637360.0, None, 9638960.0)
309        (9638690.0, 9637360.0, None, 9638690.0)
310        (9642140.0, 9640130.0, 9640130.0, None)
311             (9641870.0, 9639950.0, None, None)

[312 rows x 1 columns]

In [14]:
history.start_time

Timestamp('2020-05-04 23:44:45.694414')

In [21]:
r = history.limit_price(history.start_time, window=100, volume=1)
#r = history.limit_price(pd.Timestamp('2020-05-05 00:20:00'), window=1000)
r

(9608610.0, 9610360.0)

In [20]:
r = history.market_price(history.start_time)
r

(9610360.0, 9608390.0)