データの取り込みと統計量計算
最初に時間をus->nsへ変換し、その後datetimeへ型変換

In [1]:
import pandas as pd
from logger.util import Action

TIME = 'time'
INDEX = 'index'
ACTION = 'action'
PRICE = 'price'
SIZE = 'size'


print(SIZE)

size

In [2]:
names=(ACTION, TIME, INDEX, PRICE, SIZE, 'checksum')
df = pd.read_csv('../DATA/BF-TEST3.log.gz', names=names)
#df = pd.read_csv('../DATA/MERGE.log.gz')
# df = df.sort_values(['time', 'index', 'action']).reindex()
df[TIME] = pd.to_datetime(df[TIME]*1000)

df.describe()

             action         index         price          size  checksum
count  1.076170e+06  1.076170e+06  1.075553e+06  1.075553e+06       0.0
mean   2.649818e+00  1.093155e+08  9.957481e+06  1.793599e-01       NaN
std    8.176380e-01  4.202949e+08  1.214221e+05  1.904452e+00       NaN
min    1.000000e+00  0.000000e+00  5.000000e+06  0.000000e+00       NaN
25%    2.000000e+00  7.000000e+00  9.957560e+06  1.000000e-02       NaN
50%    3.000000e+00  2.100000e+01  9.966520e+06  3.700000e-02       NaN
75%    3.000000e+00  1.370000e+02  9.974470e+06  2.000000e-01       NaN
max    6.000000e+00  1.725294e+09  1.850000e+07  9.950300e+02       NaN

In [3]:
print('DFの情報表示')
df.head(20)

DFの情報表示

    action                       time  index      price      size  checksum
0        1 2020-05-07 09:16:25.731574      0        NaN       NaN       NaN
1        2 2020-05-07 09:16:25.731574      0  9927750.0  0.050000       NaN
2        2 2020-05-07 09:16:25.731574      1  9927340.0  0.093618       NaN
3        2 2020-05-07 09:16:25.731574      2  9927250.0  0.050000       NaN
4        2 2020-05-07 09:16:25.731574      3  9927200.0  0.020000       NaN
5        2 2020-05-07 09:16:25.731574      4  9926990.0  0.020000       NaN
6        2 2020-05-07 09:16:25.731574      5  9926910.0  0.020000       NaN
7        2 2020-05-07 09:16:25.731574      6  9926600.0  0.012677       NaN
8        2 2020-05-07 09:16:25.731574      7  9926580.0  0.020000       NaN
9        2 2020-05-07 09:16:25.731574      8  9926530.0  0.050000       NaN
10       2 2020-05-07 09:16:25.731574      9  9926500.0  0.010000       NaN
11       2 2020-05-07 09:16:25.731574     10  9926440.0  0.050000       NaN
12       2 2020-05-07 09:16:25.731574     11  9926320.0  0.010000       NaN
13       2 2020-05-07 09:16:25.731574     12  9926280.0  0.020000       NaN
14       2 2020-05-07 09:16:25.731574     13  9926260.0  0.010000       NaN
15       2 2020-05-07 09:16:25.731574     14  9926220.0  0.020000       NaN
16       2 2020-05-07 09:16:25.731574     15  9926160.0  0.100000       NaN
17       2 2020-05-07 09:16:25.731574     16  9926140.0  0.010000       NaN
18       2 2020-05-07 09:16:25.731574     17  9926120.0  0.055000       NaN
19       2 2020-05-07 09:16:25.731574     18  9925980.0  0.020000       NaN

In [4]:
# save してみる

df.to_csv('test.gz')

In [5]:
print('ログファイルの始まり時刻')
df[:1][TIME][0]
start = df.head(1).iat[0, 1]
start

ログファイルの始まり時刻

Timestamp('2020-05-07 09:16:25.731574')

In [ ]:
print('ログファルの終了時刻')
end = df.tail(1).iat[0, 1]
end

In [7]:
print('ログファイルの長さ時間')
diff = end - start
diff

ログファイルの長さ時間

Timedelta('0 days 00:50:34.980496')

In [8]:
#取引高

long_volume = df[(df[ACTION]==Action.TRADE_LONG)].sum()
print(long_volume[PRICE])
print(long_volume[SIZE])

343454340650.0
2317.6986108700003

In [12]:
print('統計量の表示')
df.describe()

統計量の表示

             action         index         price          size  checksum
count  1.076170e+06  1.076170e+06  1.075553e+06  1.075553e+06       0.0
mean   2.649818e+00  1.093155e+08  9.957481e+06  1.793599e-01       NaN
std    8.176380e-01  4.202949e+08  1.214221e+05  1.904452e+00       NaN
min    1.000000e+00  0.000000e+00  5.000000e+06  0.000000e+00       NaN
25%    2.000000e+00  7.000000e+00  9.957560e+06  1.000000e-02       NaN
50%    3.000000e+00  2.100000e+01  9.966520e+06  3.700000e-02       NaN
75%    3.000000e+00  1.370000e+02  9.974470e+06  2.000000e-01       NaN
max    6.000000e+00  1.725294e+09  1.850000e+07  9.950300e+02       NaN

In [13]:
print('Long')
long = df[(df[ACTION]==Action.TRADE_LONG) | (df[ACTION]==Action.TRADE_LONG_LIQUID)]
long.describe()

Long

        action         index         price          size  checksum
count  34466.0  3.446600e+04  3.446600e+04  3.446600e+04       0.0
mean       4.0  1.725259e+09  9.965019e+06  6.724594e-02       NaN
std        0.0  2.033473e+04  1.100571e+04  1.430211e-01       NaN
min        4.0  1.725225e+09  9.928410e+06  5.000000e-08       NaN
25%        4.0  1.725241e+09  9.958990e+06  1.000000e-02       NaN
50%        4.0  1.725259e+09  9.966490e+06  2.500000e-02       NaN
75%        4.0  1.725276e+09  9.972960e+06  6.364188e-02       NaN
max        4.0  1.725294e+09  9.987270e+06  7.593818e+00       NaN

In [14]:
print('short')
short = df[(df[ACTION]==Action.TRADE_SHORT) | (df[ACTION]==Action.TRADE_SHORT_LIQUID)]
short.describe()

short

        action         index         price          size  checksum
count  33700.0  3.370000e+04  3.370000e+04  3.370000e+04       0.0
mean       6.0  1.725260e+09  9.964531e+06  6.699119e-02       NaN
std        0.0  1.988667e+04  1.039776e+04  1.444442e-01       NaN
min        6.0  1.725225e+09  9.928130e+06  4.000000e-08       NaN
25%        6.0  1.725243e+09  9.959038e+06  1.000000e-02       NaN
50%        6.0  1.725260e+09  9.966080e+06  2.537622e-02       NaN
75%        6.0  1.725277e+09  9.972042e+06  6.320411e-02       NaN
max        6.0  1.725294e+09  9.986650e+06  1.055365e+01       NaN

In [15]:
bits = df[((df[ACTION]==Action.PARTIAL)|(df[ACTION]==Action.UPDATE_BIT))]

bits.describe()

              action         index         price           size  checksum
count  511804.000000  5.118040e+05  5.111870e+05  511187.000000       0.0
mean        1.998794  7.422221e+04  9.934754e+06       0.177971       NaN
std         0.034700  1.131090e+07  1.536206e+05       0.859125       NaN
min         1.000000  0.000000e+00  5.000000e+06       0.000000       NaN
25%         2.000000  7.000000e+00  9.951410e+06       0.010000       NaN
50%         2.000000  1.900000e+01  9.960610e+06       0.039620       NaN
75%         2.000000  9.400000e+01  9.967000e+06       0.200000       NaN
max         2.000000  1.725228e+09  9.986650e+06     179.283158       NaN

In [16]:
asks = df[((df[ACTION]==Action.PARTIAL)|(df[ACTION]==Action.UPDATE_ASK))]

asks.describe()

              action          index         price           size  checksum
count  496817.000000  496817.000000  4.962000e+05  496200.000000       0.0
mean        2.997516      64.028906  9.979893e+06       0.196210       NaN
std         0.070438      85.246870  8.116556e+04       2.663915       NaN
min         1.000000       0.000000  9.928410e+06       0.000000       NaN
25%         3.000000       7.000000  9.966050e+06       0.010000       NaN
50%         3.000000      18.000000  9.973660e+06       0.038080       NaN
75%         3.000000      99.000000  9.980250e+06       0.200000       NaN
max         3.000000     304.000000  1.850000e+07     995.030000       NaN

In [29]:
partial = df[(df[ACTION]==Action.PARTIAL)]
partial.describe()

partial.tail(10)

         action                       time  index  price  size  checksum
1060751       1 2020-05-07 10:06:16.050645      0    NaN   NaN       NaN
1062616       1 2020-05-07 10:06:21.004209      0    NaN   NaN       NaN
1064593       1 2020-05-07 10:06:25.958445      0    NaN   NaN       NaN
1066661       1 2020-05-07 10:06:31.069035      0    NaN   NaN       NaN
1068261       1 2020-05-07 10:06:35.819841      0    NaN   NaN       NaN
1069749       1 2020-05-07 10:06:40.637988      0    NaN   NaN       NaN
1071080       1 2020-05-07 10:06:42.371020      0    NaN   NaN       NaN
1072587       1 2020-05-07 10:06:51.001687      0    NaN   NaN       NaN
1074238       1 2020-05-07 10:06:54.645354      0    NaN   NaN       NaN
1075569       1 2020-05-07 10:07:00.712070      0    NaN   NaN       NaN

In [28]:
last_partial = partial.drop_duplicates(subset=ACTION, keep='last')
print(last_partial.index[0])

1075569

In [ ]:
last_asks=asks.drop_duplicates(subset=PRICE, keep='last')
last_asks.describe()

In [ ]:
last_partial = last_asks[(last_asks[ACTION]==Action.PARTIAL)]
last_partial.describe()

In [21]:
index = last_partial.index[0]
index

1075569

In [ ]:
last_asks = last_asks[(last_asks.index > index)]

last_asks

In [ ]:
size=group['size']
size=size[size> 9751720]
print(size.sum())

In [ ]:
price = short[short['price'] > 9750000]
price.sum()['size']

In [ ]:
long = df[(df['action']==5)]
long

# その他テスト
Pandasの時刻はus単位。
iso時間はnsのため1000倍する。

In [ ]:
TIME=1588463619416252 * 1000
pd.Timestamp(TIME)

## SQLとPandasの対応表
https://qiita.com/takaiyuk/items/5232442eaeb01299b265